
<%= form_with(
  url: dashboard_stamp_path,
  id: "main-form",
  class: "basic-wrap mt-4 mb-4",
  data: {
    controller: "forms",
    action: "forms#submit ajax:error->forms#ajaxError ajax:success->forms#ajaxSuccess",
  }) do |f| %>
  <div class="basic-header">
    <h3 class="title">打刻</h3>
  </div>
  <hr>
  <div class="text-center">
    <div class="btn-group w-100">
      <% if @stamp&.active? %>
        <button type="submit" class="btn btn-secondary btn-lg disabled" data-target="forms.submitButton">開始</button>
        <button type="submit" class="btn btn-primary btn-lg ml-4" data-target="forms.submitButton">終了</button>
      <% else %>
        <button type="submit" class="btn btn-primary btn-lg" data-target="forms.submitButton">開始</button>
        <button type="submit" class="btn btn-secondary btn-lg disabled ml-4" data-target="forms.submitButton">終了</button>
      <% end %>
    </div>
  </div>
<% end %>

<div class="page-filters" data-controller="page-filters">
  <div class="rendition-types">
    <div class="dropdown">
      <a data-toggle="dropdown" data-target="#" data-controller="links" data-action="links#click" href="javascript:void(0);">
        <i class="icon-users"></i>Team Member Grid
      </a>
      <div class="dropdown-menu">
        <div class="dropdown-menu-inner">
          <a data-controller="links" data-action="links#click" href="#"><i class="icon-users"></i>Team Member Grid</a>
          <a data-controller="links" data-action="links#click" href="#"><i class="icon-flag"></i>Position Grid</a>
          <a data-controller="links" data-action="links#click" href="#"><i class="icon-map-marker-alt"></i>Location Grid</a>
          <a data-controller="links" data-action="links#click" href="#"><i class="icon-calendar-alt"></i>Calendar</a>
          <a data-controller="links" data-action="links#click" href="#"><i class="icon-list"></i>List</a>
        </div>
      </div>
    </div>
  </div>

  <div class="filter-collections">
    <a data-controller="links" data-action="links#click" data-links-remote-modal="pane" data-remote="true" href="#"><i class="icon-filter"></i>Add Filter</a>
  </div>
</div>

<div class="page-body">
  <div class="grid-wrapper">
    <div class="grid-header">
      <div class="cell"></div>
      <% (0..23).each do |i| %>
        <div class="cell"><%= (i + 4) % 24 %></div>
      <% end %>
    </div>
    <div class="day grid-wrapper">
      <div class="grid">

        <% @stamps.each do |date, stamp| %>
          <div class="grid-row">
            <div class="cell">
              <div class="title"><%= date.to_s(:jp_ymd) %></div>
              <% unless stamp.nil? %>
                <div class="totals">
                  <div class="total"><%= time_hm(stamp.total_in_sec) %></div>
                  <div class="total">(休憩 <%= time_hm(stamp.total_out_sec) %>)</div>
                </div>
              <% end %>
            </div>
            <div class="w-100">
              <% (stamp&.timeframe_rows || []).each do |timeframe| %>
                <a data-controller="stamp-cell" data-action="stamp-cell#showModal" data-stamp-cell-json="<%= raw timeframe.to_json %>" class="editable schedule-cell normal" data-target="stamp-cell.cell" style="display:grid;<%= timeframe_style(timeframe) %>">
                  <i class="color-border" style="background:#8a8a48"></i>
                  <div class="heading">
                    <div class="title"><%= "#{timeframe.in_at.to_s(:hm)} - #{timeframe.out_at.nil? ? "継続" : timeframe.out_at.to_s(:hm)}" %></div>
                  </div>
                  <div class="details"></div>
                </a>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="grid-row hour-lines">
          <% (0..24).each do |i| %>
            <div class="cell"></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
