<!DOCTYPE html>
<html>
  <head>
    <title>Shifter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'desktop', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="page-container">
      <%= render partial: "layouts/header" %>
      <%= yield %>
      <%= render partial: "layouts/footer" %>
      <%= render partial: "layouts/modals" %>
      <%= render partial: "layouts/flash_messages" %>
    </div>
  </body>
</html>